html,
body{
	font-size: 16px;
	font-weight: 300;
}

/* Main */

main {
    display: flex;
    overflow-y: hidden;
    height: 100vh;
}

main > * {
    flex: 1;
    overflow-y: scroll;
	padding: 16px;
	padding-left: 0;
}

#channel-images {
	background: #000;
	padding: 0;
	z-index: 0;
}

#channel-images figure {
	transform: none;
	position: absolute;
	top: 50%;
	opacity: 0;
	left: 25%;
	padding: 0 64px;
	transition: opacity 0.5s ease;
}

#channel-images figure img {
	height: 600px;
	object-fit: contain;
	max-width: 100%;
}

.is-inview {
	opacity: 1!important;
}

#channel-contents{
	position: relative;
	z-index: 10;
	background: white;
	padding: 0;
}

/* Header */

header {
	height: 90vh;
    margin: 0;
    display: flex;
    flex-direction: column;
	justify-content: flex-start;
    padding: 16px;
    color: #222;
    background-color: white;
}

.flex--bottom {
    margin-top: auto;
    margin-bottom: 0;
}

.intro__header {
	margin-bottom: 21px;
	flex-grow: 1;
}

.intro h1 {
    font-size: 49px;
    font-size: clamp(42px, 5vw, 72px);
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
    margin: 8px 0;
}

.intro p {
	font-size: 16px;
	font-weight: 300;
}

#toggle-panel {
	flex-shrink: 0;
    position: relative;
    margin: 0;
    width: 50px;
    height: 25px;
    cursor: pointer;
    background: white;
    border: 1px solid currentColor;
    border-radius: 12px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

input:focus,
button:focus {
    outline: none;
}

#toggle-panel svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#toggle-panel:hover {
    background-color: #ddd;
}

#toggle-panel[aria-expanded="true"] {
    color: #eee;
    background-color: #222;
    border: none;
}


/* About */

.about {
	height: 90vh;
	color: black;
	background-color: white;
	padding: 16px;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	opacity: 1;

	transform: translateX(100%);
	/* transition: opacity 1s ease; */
	transition: transform 1s ease;
}

.active {
	/* opacity: 1; */
	transform: translateX(0);
}

.about > * {
		max-width: 70ch;
}

dl {

	display: flex;
	flex-wrap: wrap;
	font-weight: 300;
	margin: 0;
	margin-top: 32px;
  }

  dt {
	flex-basis: 25%;

  }
  dd {
	margin-left: auto;
	flex-basis: 75%;
  }

  .students li {
	  width: auto;
	  display: inline;
	}

	.students > li:after {
		content: ', ';
		white-space: pre;
	}

	.students > li:last-of-type:after {
	content: '';
	white-space: pre;
  }

/* Cards */

.article-card {
    min-height: 40vh;
    padding: 16px;
    border: 1px solid black;
    border-top: none;
    display: flex;
	flex-direction: column;
}

.article-card ul {
	margin: 0;
}

#channel-contents > *:last-child {
    margin-bottom: 40vh;
}

.card--title {
	flex: 1;
	font-weight: 500;
	margin: 8px 0;
	max-width: 45ch;
}

h2.card--title  {
	font-size: 36px;
    font-size: clamp(32px, 4vw, 49px);
    line-height: 1;
    font-weight: 500;
}

.card--info{
	display: flex;
	align-items: flex-end;
}

.card--info > * {
	flex-basis: 50%;
	flex-grow: 0.5;
	margin: 0;
}

.card--description {
	justify-self: flex-end;

	flex-shrink: 1;
	margin: 0;
	font-size: 16px;
	font-weight: 300;
	max-width: 45ch;
}

.card--author {
	flex-shrink: 0;
	margin-bottom: 0;
}