html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: 'Inter', sans-serif;
	font-size: 21px;
	font-size: clamp(16px, 3vw, 21px);
	line-height: 1.4;
	font-weight: 300;
}

* {
	box-sizing: border-box;
}

nav {
	position: fixed;

	top:0;
	width: 50vw;
	height: 48px;
	line-height: 48px;


	display: flex;
	justify-content: center;
	align-items: center;

	overflow: hidden;
	z-index: 100;

	color: white;
}


.nav__home{
	display: block;
	position: absolute;
	left: 16px;
	top: 13px;
	border: 1px solid currentColor;
	width: 22px;
	height: 22px;
	transition: all 0.3s ease;
	border-radius: 50%;
	z-index: 5;
}

.nav__home:hover{
	background-color: #222;
}

.nav__title {
	font-size: 21px;
	font-size: clamp(16px, 3vw, 21px);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 300;
	margin: 0 16px;
	z-index: 5;
}

nav svg {
	vertical-align: middle;
	height: 30px;
	width: 30px;
}

.nav__prev {
	transform: scaleX(-1);
}
.nav__next {
	z-index: 5;
}

.about--icon{
	font-size: 15px;
	text-align: center;
	line-height: 25px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid black;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	transition: all 0.3s ease;
}

.about--icon:hover{
	background: black;
	color: white;
}

header {
	display:flex;
	max-width: 100%!important;
	height: 100vh;
	min-height: 500px;
	border-bottom: 1px solid currentColor;
	margin: 0!important;
}

.header__content {
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 16px;

}

header h1 {
	color: #222;
	font-size: 42px;
	font-size: 8vmin;
	line-height: 1;
	font-weight: 500;
	margin-top: auto;
	margin-bottom:0;
	padding: 0 48px;

}

header h2 {
	color: #222;
	font-size: 32px;
	font-size: 3vmin;
	font-weight: 300;
	max-width: 700px;
}

.authors {
	font-size: 21px;
	text-transform:uppercase;
	font-weight: 300;
	margin: 0;
	margin-top: auto;
}
.tags {
	margin-top: 0;
	display: flex;
	flex-wrap: wrap;
	align-self: start;
}

ul {
	list-style: none;
	padding-left: 0;
}

.tags li {
	margin: 1px;
	padding: 0 12px;
	border-radius: 15px;
	border: 1px solid currentColor;
	font-weight: 300;
	height: 26px;
	line-height: 22px;
	font-size: 14px;
}


article {
	top: 0;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

article > * {
	grid-column: 2;
	margin: 0 48px;
}
article > * + * {
	margin-top: 48px;
}

article h1,h2,h3,p{
	max-width: 800px;
}

a {
	color: currentColor;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}


.intro {
	font-size: 28px;
	font-weight: 500;
}

.left-color {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
	width: 50vw;
	height: 100vh;
	background: #222;
	margin: 0;
	padding: 0;
}

article figure {
	grid-column: 1;
	padding: 48px;
	margin: 0;
	width: 50vw;
	height: 100vh;
	z-index: 50;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	opacity: 0;
	transition: opacity 0.5s ease;

}

article figcaption {
	width:100%;
	position: absolute;
	bottom: 16px;
	text-align: center;
	font-size: 16px;
	color: white;
	background-color: #222;

}

article figure img {
	position: relative;

	max-height: 600px;
	max-width: 100%;
	background: #222;
}


.image-placeholder{
	margin: 0!important;
	padding: 0!important;
	height: 0;
	visibility: hidden;
}


.is-inview {
	opacity: 1!important;
}

.embed-content {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%!important;
	margin: 42px 0;
}

.embed-content iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/* Quotes */

blockquote {
	border-left: 1px solid #ccc;
	padding: 0 21px;
	font-style: italic;
	font-weight: 300;
	font-size: 32px;
}

blockquote address {
	font-weight: 300;
	font-size: 21px;
	margin: 1em 0;
	text-style: normal;
}




/* Footer e annotazioni */

footer {
	border-top: 1px solid currentColor;
	margin-top: 96px;
	padding: 48px;
	margin: 0!important;
	max-width: 100%!important;

}

.note {
	display: inline-block;
	color: currentColor;
	border: 1px solid currentColor;
	border-radius: 16px;
	min-width: 32px;
	height: 24px;
	text-align: center;
	font-size: 14px;
	line-height: 24px;
	vertical-align: top;
	margin: 0 0.25rem;
}

.note:hover {
/* background-color: currentColor;
color: white; */
text-decoration: none;
}


footer ol  {
margin: 48px 0;
padding: 0;
}

.notes li {
max-width: 800px;
display: flex;
margin: 8px auto;
font-size: 14px;
}

.notes li a {
/* color: currentColor; */
}

.notes li .note {
margin-right: 36px;
}

@media (max-width:1024px)  {

article {
	display: block;
	overflow: auto;
	}

	nav {
		position: relative;
		width: 100vw;
		color: black;
		border-bottom: 1px solid black;
		margin: 0;
		height: 48px;
		line-height: 48px;
	}

	nav * {

	}


	.left-color {
		/* position: fixed; */
		/* top: 0;
		left: 0;
		z-index: 0;
		width: 0;
		height: 0;
		margin: 0;
		padding: 0; */
		visibility: hidden;
	}


article > *{
	margin: 0 24px;
}

article > * + * {
	margin-top: 24px;
}

article figure {
position: relative;
opacity: 1;
width: 100vw;
height: auto;
transform: translateX(0);
margin: 0;
padding: 24px;
}

article figcaption {
	position: relative;
	color: black;
	background: none;
	font-size: 12px;
	color: #777;
	padding-top: 24px;
}

article figure img {
	max-width: 100%;
	height: auto;
}

header {
display: flex;
flex-flow: row wrap;
height: auto;
margin-bottom: 82px;

}
header .header__content
{
width: 100%;
min-height: calc(50vh - 50px);

}



/* editorial trick */
h1 br{
display: none;
}

h1 {
font-size: 28px;
font-size: clamp(28px, 3vw, 74px);
}

.intro {
font-size: 24px;
font-size: clamp(24px, 3vw, 36px);

line-height: 1.3;
font-weight: 500;

}

.note {

vertical-align: middle;
border-radius: 14px;
min-width: 26px;
height: 20px;

font-size: 11px;
line-height: 19px;

margin: 0 0.25rem;
}





}

@media (max-width:768px)  {
.nav__prev{
margin-left: 48px;
}

.nav__next{
margin-right: 8px;
}

}